<center>
  <div>
    <div class="card border-secondary mb-6" style="width: 600px;">
      <h2 class="card-title"><%= @event.title %></h2>
      <p class="card-header">organisé à <%= @event.location %></p>
      <br>
      <p class="card-title text-secondary">Description</p>
      <h5 class="card-header"><%= @event.description %></h5>
      <h5>Du <%= @event.start_date %> au <%= @event.start_date += @event.duration %></h5>
      <p class="card-title text-secondary">Dates</p>
      <p class="card-title text-secondary"><%= @registered %> utilisateur(s) inscrit actuellement</p>
      <p class="card-title text-secondary">Pour plus de renseignement, contactez <%= @event.admin.first_name %> par mail : <%= @event.admin.email %></p>
      <h2 class="card-title"><%= @event.price %>€</h2>
      <%= link_to "Participer", new_attendance_path(event_id: @event.id), method: :get, class: "btn btn-secondary" %>
    </div>
  </div>
</center>

<%= link_to "participants", attendance_index_path(@event.id), method: :get, class: "btn btn-secondary" %>

<%= button_to "Delete", event_path(@event), method: :delete, class: "btn btn-danger" %>

<%= link_to "Edit", edit_event_path(@event.id), method: :get, class: "btn btn-secondary" %>

<%= link_to "Buy Event", new_order_path(id: @event.id), method: :get, class: "btn btn-secondary" %>

<%= button_to "Payer", checkout_create_path(total: 10), class: "btn btn-primary", data: {turbo: false} %>
<%= button_to (t 'pay_now'), checkout_create_path(total: 10), data: {turbo: false} %>
